#mysidecol {
  padding: 10px;
  background-color: #9dd4b9 !important;
}

.mymainpanel {
  padding: 10px;
}

body {
  font-family: 'Lexend Deca', sans-serif;
}

.mybtn {
  max-width: 100% !important;
  margin: 10px !important;
}

.navbar-default {
  background-color: #4a9c81;
  border-color: #4a9c81;
}
